@import "tailwindcss";



@theme inline {
  --font-poppins: var(--font-poppins-sans);
  --font-abzee: var(--font-abzee-sans);
  --color-primaryBlack: #0A0A0A;
}



body {
  color:  #0A0A0A;
  font-family: Poppins, sans-serif;
  
}


.ant-segmented{
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 6px !important;

}



.ant-segmented-item-label[aria-selected="true"] {
   color: black !important;
}
